.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(240, 95, 64, .9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #c2c2c2;
}

h2 {
    font-size: 16px
}

.navbar-default {
    border-color: rgba(34, 34, 34, .05);
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    background-color: #000000;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

#portfolio {
    padding-top: 80px;
    padding-bottom: 70px;
    background: black
}

.bg-dark {
    color: #fff;
    background-color: #222;
    padding-top: 70px;
    padding-bottom: 70px;
}

.carousel-inner {
    min-height: 300px;
}

.carousel-caption {
    padding-top: 70px;
    padding-bottom: 70px;
    min-height: 500px;
    /*
    top: 50%;
  transform: translateY(-50%);
*/
    text-shadow: 2px 2px #000000;
    background-color: rgba(34, 34, 34, .8);
}

.carousel-button {
    color: darkslategrey;
}

#page-top > div > div > div > div > div > div:nth-child(1) {
    min-height: 100%;
}