body {
    background-color: #f2f2f2;
}

.box {
    float: left;
    position: relative;
/*    background-image: url("http://www.stickylife.com/images/u/5082893acb2348ab9c043eb664601279-800.png");*/
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 30%;
    width: 30%;
    margin: 1.66%;
}