<div layout="row" ng-class="vm.fullScreen" flex="60" flex-sm="100">
    <div layout="column" flex="100">
        <md-content flex-md="45" flex-gt-md="65" flex-lg="70" flex-gt-lg="100" layout-wrap class="phone-content">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 class="md-flex">{{vm.title}}</h2>
                    <md-button class="md-fab md-primary" aria-label="No thanks">
                        <ng-md-icon icon="clear" ng-click="vm.reset()">
                        </ng-md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <grid ng-show="vm.view.grid" data-content="home"></grid>
            <view ng-show="vm.view.experience"></view>
            <experience-form ng-show="vm.view.form"></experience-form>
        </md-content>
    </div>
</div>