<div ng-controller="CharacterCtrl">
    <div>
        <script type="text/ng-template" id="character-modal.html">
            <div class="modal-header">
                <h2 class="modal-title">Choose a character group:</h2>
            </div>
            <div class="modal-body">
                <ul>
                    <li ng-repeat="item in items">
                        <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                    </li>
                    <button type="button" class="btn btn-default btn-success" ng-click="ok()">Choose Group</button>
                </ul>
            </div>
        </script>
    </div>
    <div class="center-block">
        <div>
            <div ng-repeat="character in characters">
                <a>
                    <img class="character-display" ng-src="{{character.image}}" ng-class="{ 'character-selected': isSelected(character)}" ng-click="addCharacter(character)">
                </a>
            </div>
        </div>
    </div>
</div>