<div>
    <div class="center-block">
        <div>
            <div ng-repeat="square in vm.squares">
                <a href="#/gather">
                    <img class="square-display" ng-src="{{square.image}}" ng-class="{ 'square-selected': vm.isSelected(square)}" ng-click="vm.updateSquare(square)">
                </a>
            </div>
        </div>

        <button class="btn" ng-click="vm.populateSquares()">Disney</button>
        <br>
        <button class="btn">United States Presidents</button>
        <br>
        <button class="btn">Star Wars</button>
        <br>
        <button class="btn">Action Heros</button>
        <br>
        <button class="btn">Harry Potter</button>
        <br>
        <button class="btn">Sports Personalities</button>
        <br>
    </div>
</div>