<div class="header-content" style="background:url({{image}})">
    <div class="header-content-inner">
        <h3 class="dark-bg" style="color:white">{{name}}</h3>
        <hr>
        <h4 class="dark-bg" style="color:white">{{edds}}</h4>
        <br>
        <h4 class="dark-bg" style="color:white">{{description}}</h4>
        <br>
        <!--        <img src="{{image}}" class="img-responsive" alt="">-->
        <br>
        <br>
        <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
    </div>
</div>