<div>
    <div style="height: 905px">
        <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
            <uib-slide ng-repeat="slide in slides" active="slide.active">
                <!--           <img ng-src="{{slide.image}}" style="margin:auto;">-->
                <div class="carousel-caption">
                    <h1>{{slide.name}}</h1>
                    <hr>
                    <h3>{{slide.edds}}</h3>
                    <p>{{slide.description}}</p>
                    <button class="carousel-button btn btn-lg btn-success" ng-click="debug()">Choose Experience</button>
                </div>
                <video autoplay loop id="video-background" muted>
                    <source src="http://beta.mattgrossdesign.com/sites/default/files/wood%20autumn-HD.mp4" type="video/mp4">
                </video>
            </uib-slide>
        </uib-carousel>
    </div>
    <button class="carousel-button" ng-click="debug()">CLICKA DA ME</button>
</div>