<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Gatherly</h1>
            <hr>
            <p>Come on, you know wanna try this out!
                <br> This is the coolest thing that you'll do this week!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Create an account</a>
            <a href="#about" ng-click="githubLogin()" class="btn btn-primary btn-xl page-scroll">Login With Facebook</a>
            <br>
            <br>
        </div>
    </div>
</header>