<div ng-controller="landingPageController" class="container">
    <div class="row">
        <div class="col-lg-12">
            <img class="img-responsive" src="img/profile.png" alt="">
            <br>
            <div class="intro-text"> {{welcome}} </div>
            <br>
            <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>

            <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>

            <a href="/auth/linkedin" class="btn btn-default"><span class="fa fa-linkedin"></span>LinkedIn</a>
            <br>
            <br>
            <br>
            <div class="intro-text">{{about}}</div>
            <br>
            <a href="" class="btn btn-info"> {{buttonText}}</a>
        </div>
    </div>
</div>