<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Gatherly</h1>
            <hr>
            <form name="experienceForm" id="experienceSubmitForm" ng-submit="addExperience()" novalidate>

                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Username</label>
                        <input type="text" class="form-control" placeholder="What's the experience?" ng-model="name" required data-validation-required-message="your experience hasta have a name...">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>


                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Password</label>
                        <input type="text" class="form-control" placeholder="What makes this experience amazing?" ng-model="description" required data-validation-required-message="yo! what's your experience about?">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <a href="#about" class="btn btn-primary btn-xl page-scroll">Create an account</a>
                        <a href="#about" ng-click="githubLogin()" class="btn btn-primary btn-xl page-scroll">Login</a>
                    </div>
                </div>
            </form>
            <br>
            <br>
        </div>
    </div>
</header>