<div layout layout-fill>

    <div layout="column" layout-align="center center" class="coverImage" layout-fill ng-style="{'background-image':'url(http://img.memecdn.com/the-only-amp-quot-b-amp-quot-word-a-woman-should-be-called-is-amp-quot-beautiful-amp-quot-bitches-love-being-called-amp-quot-beautiful-amp-quot_o_4128175.jpg)', 'background-repeat': 'no-repeat'}">

        <md-content class="md-padding">
            sample text
        </md-content>
        <div layout="row">

            <md-button class="md-fab" aria-label="I'm in">
                <ng-md-icon icon="add" ng-click="vm.sendToGatherHolder()">
                </ng-md-icon>
            </md-button>
            <md-button class="md-fab md-primary" aria-label="No thanks">
                <ng-md-icon icon="clear" ng-click="vm.cancel()">
                </ng-md-icon>
            </md-button>

        </div>
    </div>
</div>