<md-grid-list class="gridListdemoDynamicTiles" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="4px" layout-align="center">

    <md-grid-tile ng-repeat="display in vm.displays track by $index" md-rowspan="1" md-colspan="1" md-colspan-sm="1" ng-click="vm.select($index)" ng-style="{'background-image': 'url(' + display.image + ')'}">


        <!--        <md-icon md-svg-icon="{{display.icon}}"></md-icon>-->

        <md-grid-tile-footer>
            <h3>{{display.text}}</h3>
        </md-grid-tile-footer>
    </md-grid-tile>

</md-grid-list>